@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap');

html {
    padding: 0;
    margin: 0;
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    color: white;
    width: 100%;
}

body {
    padding: 70px 0;
    text-align: center;
}

.box {
    position: relative;
}

.img {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.brV2 {
    height: 15px;
}

.btn {
    position: relative;
    font-size: 17px;
    width: 100px;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: blueviolet;
    border-color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
}